body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#palette-type {
    width: 150px;
    height: 30px;
}

#generate-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#color-palette {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
}
